* {
    margin: 0;
    font-family: sans-serif;
}
body {
    background: rgb(34, 36, 64);
    color: white;
}
.top {
    background: white;
    color: black;
}
.top img, label, input {
    display: inline-flex;
    padding-top: 7px;
}
.top img {
    width: 200px;
    margin-left: 160px;
}
.top label {
    margin-top: 6px;
    font-size: small;
    padding-right: 30px;
}
.imagem {
    position: absolute;
    background: pink;
    width: 50%;
}
.cadastro {
    background: blue;
    width: 50%;
    margin-left: 50%;
}