* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body {
    background: rgb(34, 36, 64);
}
.Top ul{
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    list-style: none;
}
.Top ul li {
    margin-right: 10px;
    text-emphasis-style: none;
}
.Top ul li a {
    color: white;
    transition: 0.5;
}
.Top ul li a:hover {
    border-bottom: 1px solid white;
}
.centro  {
    display: flex;
    justify-content: center;
}
.centro img {
    margin-top: 130px;
    width: 500px;
    margin-left: 10px;
    position: relative;
}
.centro input {
    width: 600px;
    height: 30px;
    position: absolute;
    margin-top: 320px;
    margin-left: 10px;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
.centro button{
    top: 430px;
    height: 30px;
    width: 150px;
    position: absolute;
    border-radius: 30px;
    cursor: pointer;
}
.centro button:hover {
    width: 170px;
    background: skyblue;
    transition: 0.5s;
}

footer {
    width: 100%;
    margin-bottom: 0%;
}
.cima {
    padding-left: 30px;
    margin-top: 229px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid gray;
    background: silver;
    position: flex;
    height: 20px;
}
.baixo {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 8px;
    background: silver;
    position: flex;
    height: 20px;
}
.baixo ul {
    display: flex;
    list-style: none;
}
.baixo ul li {
    display: flex;
    padding-right: 10px;
}
.baixo ul li a {
    color: black;
    transition: 0.5s;
}
.baixo ul li a:hover {
    border-bottom: 1px solid black;
}
.baixo ul li:nth-child(4) a {
    margin-right: 610px;
    width: 200px;
}



