* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 body {
     background: rgb(34, 36, 64);
 }
 /* menu de navegação */
 .menu nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: skyblue;
    border-radius: 100px;
    padding: 5px;
    height: 50px;
 }
 .menu nav ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu nav ul li {
    position: relative;
    list-style: none;
}
.menu nav ul li a {
    position: relative;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 10px;
    text-decoration: none;
    font-size: 30;
    transition: 0.5s;
    color: black;
}
.menu nav ul li a:hover {
    background: #1da1f2;    
    height: 40px;
    transform: translateY(-10px);
}
.menu nav ul li a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 5px;
    bottom: 10px;
    right: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

/* contatos no footer */
footer{
    padding: 20px;
}
.contato ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato ul li {
    position: relative;
    list-style: none;
}
.contato ul li a {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30;
    border-radius: 50%;
    color: #e2e2e2;
    transition: 0.5s;
}
.contato ul li a:hover {
    color: #999;
    transform: translateY(-20px)
}
.contato ul li a .fa {
    color: #fff;
    position: relative;
    z-index: 1;
}
.contato ul li a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.contato ul li:nth-child(1) a::before{
    background: #1877f2;
}
.contato ul li:nth-child(2) a::before{
    background: #1da1f2;
}
.contato ul li:nth-child(3) a::before{
    background: #c32aa3;
}
.contato ul li:nth-child(4) a::before{
    background: #171515;
}
.contato ul li:nth-child(5) a::before{
    background: #0e76a8;
}

/* espaço com texto */
.texto {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.apresentacao p {
    padding-left: 50px;
}
.apresentacao ul {
    padding-left: 100px;
}
.apresentacao li {
    text-decoration: none;
    list-style: square;
}

/* apresentação */
.apresentacao {
    padding: 40px;
    padding-top: 30px;
    text-align: left;
    color: #fff;
}
